# Coverage.py configuration (Used pytest-cov)

[run]
# Ignore generated Swagger REST API code since we don't use it completely and don't change it
omit=
    */_swagger_client/*
    .tox/*

[report]
# Exclude logging functions and some non production error cases
exclude_lines =
    _get_logger()
    def _log_profiling_info
    def get_logger
    if _enable_logger:
    _enable_logger =
    except ImportError:  # Swagger_codegen need to be run first
