# Coverage.py configuration (Used pytest-cov)

[run]
omit=
    .tox/*
    docs/conf.py

[report]
# Exclude:
# - Logging functions
# - CLI entry point
exclude_lines =
    _get_logger()
    def _log_profiling_info
    def get_logger
    if _enable_logger:
    _enable_logger =
    if __name__ == '__main__':
