{  
   "swagger":"2.0",
   "info":{  
      "title":"Accelize Accelerator WS",
      "description":"",
      "version":"1.0"
   },
   "host":"www.accelize.com",
   "schemes":[  
      "http"
   ],
   "paths":{  
      "/v1.0/configuration/":{  
         "get":{  
            "description":"Returns a list of all accelerator configuration instance requested in the system.",
            "parameters":[  
               {  
                  "required":false,
                  "type":"integer",
                  "name":"page",
                  "in":"query",
                  "description":"A page number within the paginated result set."
               }
            ],
            "tags":[  
               "configuration"
            ],
            "summary":"/v1.0/configuration/",
            "operationId":"configuration_list",
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "required":[  
                        "results",
                        "next",
                        "previous",
                        "count"
                     ],
                     "type":"object",
                     "properties":{  
                        "count":{  
                           "type":"integer",
                           "description":""
                        },
                        "previous":{  
                           "type":"string",
                           "description":""
                        },
                        "results":{  
                           "items":{  
                              "type":"object",
                              "properties":{  
                                 "datafile":{  
                                    "type":"string",
                                    "description":"If needed, file to be processed by the accelerator."
                                 },
                                 "used":{  
                                    "type":"boolean",
                                    "description":""
                                 },
                                 "parameters":{  
                                    "type":"string",
                                    "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
                                 },
                                 "created":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "url":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "inerror":{  
                                    "type":"boolean",
                                    "description":""
                                 },
                                 "parametersresult":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "errorcode":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "processed_date":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "processed":{  
                                    "type":"boolean",
                                    "description":""
                                 },
                                 "id":{  
                                    "type":"string",
                                    "description":""
                                 }
                              }
                           },
                           "required":true,
                           "type":"array",
                           "name":"results",
                           "description":""
                        },
                        "next":{  
                           "type":"string",
                           "description":""
                        }
                     }
                  }
               }
            }
         },
         "post":{  
            "description":"Create a new configuration instance and deploy it.",
            "parameters":[  
               {  
                  "required":false,
                  "type":"string",
                  "name":"parameters",
                  "in":"formData",
                  "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
               },
               {  
                  "required":false,
                  "type":"file",
                  "name":"datafile",
                  "in":"formData",
                  "description":"If needed, file to be processed by the accelerator."
               }
            ],
            "tags":[  
               "configuration"
            ],
            "summary":"/v1.0/configuration/",
            "operationId":"configuration_create",
            "consumes":[  
               "multipart/form-data"
            ],
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "type":"object",
                     "properties":{  
						"id":{  
                           "type":"string",
                           "description":""
                        },
                        "url":{  
                           "type":"string",
                           "description":""
                        },
                        "inerror":{  
                           "type":"boolean",
                           "description":""
                        },
                        "processed_date":{  
                           "type":"string",
                           "description":""
                        },
                        "parametersresult":{  
                           "type":"string",
                           "description":""
                        },
                        "errorcode":{  
                           "type":"string",
                           "description":""
                        },
                        "processed":{  
                           "type":"boolean",
                           "description":""
                        }
                     }
                  }
               }
            }
         }
      },
      "/v1.0/configuration/{id}/":{  
         "get":{  
            "description":"Return the given configuration instance.",
            "parameters":[  
               {  
                  "required":true,
                  "type":"integer",
                  "name":"id",
                  "in":"path",
                  "description":"A unique integer value identifying this accelerator config."
               }
            ],
            "tags":[  
               "configuration"
            ],
            "summary":"/v1.0/configuration/{id}/",
            "operationId":"configuration_read",
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "type":"object",
                     "properties":{  
                        "datafile":{  
                           "type":"string",
                           "description":"If needed, file to be processed by the accelerator."
                        },
                        "used":{  
                           "type":"boolean",
                           "description":""
                        },
                        "parameters":{  
                           "type":"string",
                           "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
                        },
                        "created":{  
                           "type":"string",
                           "description":""
                        },
                        "url":{  
                           "type":"string",
                           "description":""
                        },
                        "inerror":{  
                           "type":"boolean",
                           "description":""
                        },
                        "parametersresult":{  
                           "type":"string",
                           "description":""
                        },
                        "errorcode":{  
                           "type":"string",
                           "description":""
                        },
                        "processed_date":{  
                           "type":"string",
                           "description":""
                        },
                        "processed":{  
                           "type":"boolean",
                           "description":""
                        },
                        "id":{  
                           "type":"string",
                           "description":""
                        }
                     }
                  }
               }
            }
         }
      },
      "/v1.0/process/":{  
         "get":{  
            "description":"Returns a list of all process instance requested in the system.",
            "parameters":[  
               {  
                  "required":false,
                  "type":"integer",
                  "name":"page",
                  "in":"query",
                  "description":"A page number within the paginated result set."
               }
            ],
            "tags":[  
               "process"
            ],
            "summary":"/v1.0/process/",
            "operationId":"process_list",
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "required":[  
                        "results",
                        "next",
                        "previous",
                        "count"
                     ],
                     "type":"object",
                     "properties":{  
                        "count":{  
                           "type":"integer",
                           "description":""
                        },
                        "previous":{  
                           "type":"string",
                           "description":""
                        },
                        "results":{  
                           "items":{  
                              "type":"object",
                              "properties":{  
                                 "datafile":{  
                                    "type":"string",
                                    "description":"If needed, file to be processed by the accelerator."
                                 },
                                 "parameters":{  
                                    "type":"string",
                                    "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
                                 },
                                 "url":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "inerror":{  
                                    "type":"boolean",
                                    "description":""
                                 },
                                 "parametersresult":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "errorcode":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "processed_date":{  
                                    "type":"string",
                                    "description":""
                                 },
                                 "datafileresult":{  
                                    "type":"string",
                                    "description":"If needed, file  processed by the accelerator."
                                 },
                                 "processed":{  
                                    "type":"boolean",
                                    "description":""
                                 },
                                 "configuration":{  
                                    "type":"string",
                                    "description":"Id of the configuration to use for this process"
                                 },
                                 "id":{  
                                    "type":"string",
                                    "description":""
                                 }
                              }
                           },
                           "required":true,
                           "type":"array",
                           "name":"results",
                           "description":""
                        },
                        "next":{  
                           "type":"string",
                           "description":""
                        }
                     }
                  }
               }
            }
         },
         "post":{  
            "description":"Create a new process instance.",
            "parameters":[  
               {  
                  "required":false,
                  "type":"string",
                  "name":"parameters",
                  "in":"formData",
                  "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
               },
               {  
                  "required":true,
                  "type":"string",
                  "name":"configuration",
                  "in":"formData",
                  "description":"Id of the configuration to use for this process"
               },

               {  
                  "required":false,
                  "type":"file",
                  "name":"datafile",
                  "in":"formData",
                  "description":"If needed, file to be processed by the accelerator."
               }
            ],
            "tags":[  
               "process"
            ],
            "summary":"/v1.0/process/",
            "operationId":"process_create",
            "consumes":[  
               "multipart/form-data"
            ],
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "required":[  
                        "configuration"
                     ],
                     "type":"object",
                     "properties":{  
                        "datafile":{  
                           "type":"string",
                           "description":"If needed, file to be processed by the accelerator."
                        },
						"id":{  
						   "type":"string",
						   "description":""
						},
                        "parameters":{  
                           "type":"string",
                           "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
                        },
                        "url":{  
                           "type":"string",
                           "description":""
                        },
                        "inerror":{  
                           "type":"boolean",
                           "description":""
                        },
                        "parametersresult":{  
                           "type":"string",
                           "description":""
                        },
                        "processed_date":{  
                           "type":"string",
                           "description":""
                        },
                        "datafileresult":{  
                           "type":"string",
                           "description":"If needed, file  processed by the accelerator."
                        },
                        "processed":{  
                           "type":"boolean",
                           "description":""
                        },
                        "configuration":{  
                           "type":"string",
                           "description":"Id of the configuration to use for this process"
                        }
                     }
                  }
               }
            }
         }
      },
      "/v1.0/process/{id}/":{  
         "get":{  
            "description":"Return the given process instance.",
            "parameters":[  
               {  
                  "required":true,
                  "type":"integer",
                  "name":"id",
                  "in":"path",
                  "description":"A unique integer value identifying this process execution."
               }
            ],
            "tags":[  
               "process"
            ],
            "summary":"/v1.0/process/{id}/",
            "operationId":"process_read",
            "responses":{  
               "200":{  
                  "description":"Success",
                  "schema":{  
                     "required":[  
                        "configuration"
                     ],
                     "type":"object",
                     "properties":{  
                        "datafile":{  
                           "type":"string",
                           "description":"If needed, file to be processed by the accelerator."
                        },
                        "parameters":{  
                           "type":"string",
                           "description":"All parameters need for the excution in JSON format : {  \n  \"AcceleratorParam1\":\"value1\",\n   \"AcceleratorParam2\":\"value2\",\n   \"AcceleratorParam3\":\"value3\"}"
                        },
                        "url":{  
                           "type":"string",
                           "description":""
                        },
                        "inerror":{  
                           "type":"boolean",
                           "description":""
                        },
                        "parametersresult":{  
                           "type":"string",
                           "description":""
                        },
                        "errorcode":{  
                           "type":"string",
                           "description":""
                        },
                        "processed_date":{  
                           "type":"string",
                           "description":""
                        },
                        "datafileresult":{  
                           "type":"string",
                           "description":"If needed, file  processed by the accelerator."
                        },
                        "processed":{  
                           "type":"boolean",
                           "description":""
                        },
                        "configuration":{  
                           "type":"string",
                           "description":"Id of the configuration to use for this process"
                        },
                        "id":{  
                           "type":"string",
                           "description":""
                        }
                     }
                  }
               }
            }
         },
		"delete":{  
				    "tags":[  
				       "process"
				    ],
					"summary":"/v1.0/process/{id}/",
				    "responses":{  
				       "204":{  
				          "description":""
				       }
				    },
				    "parameters":[  
				         {  
				          "description":"A unique integer value identifying this process execution.",
				          "required":true,
				          "type":"integer",
				          "name":"id",
				          "in":"path"
				       }
				    ],
				    "operationId":"process_delete"
	
				 }
				
      },
      "/v1.0/schema/":{  
         "get":{  
            "tags":[  
               "schema"
            ],
            "summary":"/v1.0/schema/",
            "responses":{  
               "200":{  
                  "description":"Success"
               }
            },
            "parameters":[  

            ],
            "operationId":"schema_list"
         }
      },
      "/v1.0/stop":{  
         "get":{  
            "tags":[  
               "stop"
            ],
            "summary":"/v1.0/stop",
			"operationId":"stop_list",
            "responses":{  
               "200":{  
                  "description":"Success",
					"schema":{  
										 "required":[  ],
										 "type":"object",
										 "properties":{  }
									  }
								   }
            }
 
            
         }
      }
   },
   "securityDefinitions":{  
      "basic":{  
         "type":"basic"
      }
   }
}