apache-libcloud==2.3.0
appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
boto3==1.5.26
botocore==1.8.50
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
deprecation==2.0
docutils==0.14
dogpile.cache==0.6.5
futures==3.2.0
idna==2.6
ipaddress==1.0.19
iso8601==0.1.12
jmespath==0.9.3
jsonpatch==1.21
jsonpointer==2.0
keystoneauth1==3.4.0
munch==2.2.0
netifaces==0.10.6
openstacksdk==0.12.0
os-service-types==1.2.0
packaging==17.1
pbr==3.1.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-openstacksdk==0.5.2
PyYAML==3.12
requests==2.18.4
requestsexceptions==1.4.0
s3transfer==0.1.13
six==1.11.0
stevedore==1.28.0
urllib3==1.22
